body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 20px;
}

.resume-container {
    width:device-width;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    display: flex;
}

.left-section {
    width: 30%;
    background: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid white;
}

.role {
    font-size: 14px;
    color: #dcdcdc;
}

.left-section h3 {
    margin-top: 20px;
    font-size: 18px;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

.left-section ul {
    list-style-type: none;
    padding: 0;
}

.left-section ul li {
    margin: 8px 0;
}

.right-section {
    width: 70%;
    padding: 25px;
}

.right-section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 20px;
}

.item {
    margin-bottom: 15px;
}

.item h4 {
    margin: 0;
}
